html, body {
   margin: 0;
   padding: 0;
   position: absolute;
   width: 100%;
   height: 100%;
}
#area {
   position: absolute;
   background: #ddd;
   width: 60%;
   height: 70%;
}

#box {
   position: absolute;
   background: black;
   width: 20px;
   height: 20px;
}