html, body {
   margin: 0;
   padding: 0;
   position: absolute;
   width: 100%;
   height: 100%;
}

#canvas {
   position: absolute;
   background: #ddd;
   width:  100%;
   height: 100%;
}

#area {
   position: absolute;
   width:  100%;
   height: 100%;
}

#box {
   position: absolute;
   background: black;
   opacity: 0.3;
   width: 20px;
   height: 20px;
   border-radius: 50%;
}