html, body {
   margin: 0;
   padding: 0;
}

.pager {
   position: absolute;
   width: 100%;
   height: 100%;
   /* left: 25%; */
   overflow: hidden;
}

.pager_items {
   width: 300%;
   height: 50%;
   overflow: hidden;
   outline: 1px solid blue;
}

img {
   position: relative;
   display: block;
   float: left;
   width: 33.33333%;
   height: 100%;
   outline: 1px solid red;
}