* {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

html, body {
   margin: 0;
   padding: 0;
   width: 100%;
}

.pager {
   position: relative;
   margin: 0 auto;
   top: 5px;
   width: 70%;
   height: 250px;
   overflow: hidden;
   /* outline: 1px solid blue; */
}

.pager_items {
   height: 100%;
   overflow: hidden;
}

.item {
   position: relative;
   display: block;
   float: left;
   height: 100%;
   background: #ccc;
   font-size: 10vmin;
   font-family: Helvetica;
   text-align: center;
   border: 1px solid red;
}

.buttons {
   position: relative;
   text-align: center;
   margin-top: 10px;
}