html, body {
   margin: 0;
   padding: 0;
}

.pager {
   position: absolute;
   width: 100%;
   top: 25%;
   height: 50%;
   overflow: hidden;
}

.pager_items {
   width: 100%;
   height: 400%;
   overflow: hidden;
   outline: 1px solid blue;
}

.pager_items > * {
   position: relative;
   display: block;
   width: 100%;
   height: 25%;
   text-align: center;
   font-size: 88vmin;
   color: #ddd;
   background: #eee;
   vertical-align: bottom;
   -webkit-user-select: none;
   user-select: none;
}

.pager_items > *:nth-child(even) {
   background: #aaa;
}